body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.alt-font {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    z-index: 99;
}

/* Headings */
h1 {font-size:40px; line-height:45px; }
h2 {font-size:35px; line-height:40px;}
h3 {font-size:28px; line-height:24px;}
h4 {font-size:40px; line-height:46px;}
h5 {font-size:32px; line-height:40px;}
h6 {font-size:25px; line-height:30px;}

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@media (max-width: 740px) {
  .full-page-intro {
    height: 100vh; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

#pauseBtnAnimate {
    margin-left: 20px;
}

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; 
}


  html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }

.canvas {
    position:absolute;
    background-color:#1C2331;
    z-index:1;
    top: 95px;
    left: 70px;
    text-align:center;
}

.alt-font {
  font-family: 'Permanent Marker', cursive;
}

/* text size */
.text-extra-small {font-size:11px; line-height:14px}
.text-small {font-size:12px; line-height:20px}
.text-medium {font-size:24px; line-height:23px}
.text-large {font-size:18px; line-height:26px}
.text-extra-large {font-size: 30px; line-height:26px}
.title-large {font-size: 100px; line-height:95px}
.title-extra-large {font-size: 130px; line-height:120px}
.title-large-timer {font-size: 300px;}

/* text color */
.text-white {color:#FFF}
.text-black {color:#000}
.text-extra-dark-gray {color:#232323}
.text-dark-gray {color:#626262}
.text-extra-medium-gray {color:#757575}
.text-medium-gray {color:#939393}
.text-extra-light-gray {color:#b7b7b7}
.text-light-gray {color:#d6d5d5}
.text-very-light-gray {color:#ededed}
.text-deep-pink {color:#ff214f}


.text-orange {color:#f05444;}
.text-yellow {color:#e1ca1c;}
.text-teal {color:#4aaaa5;}
.text-indigo {color: #4da7ee;}

/* background colors */
.bg-transparent {background-color: transparent;}
.bg-white {background-color: #fff;}
.bg-black {background-color: #000;}
.bg-charcoal-gray {background-color: #0e0f10;}
.bg-extra-dark-gray {background-color: #1c1c1c;}
.bg-dark-gray {background-color: #757575;}
.bg-extra-medium-gray {background-color: #939393;}
.bg-medium-gray {background-color: #dbdbdb;}
.bg-light-gray {background-color: #f7f7f7;}
.bg-orange {background-color: #f05444;}
.bg-teal {background-color:#4aaaa5;}  
.bg-yellow {background-color: #e1ca1c;}
.bg-transparent-white { background-color: rgba(255,255,255,0.3); background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(37%, rgba(255,255,255,0)), color-stop(96%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }
.bg-transparent-black { background-color: rgba(0,0,0,0); background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(37%, rgba(0,0,0,0)), color-stop(96%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 ); }
.bg-white-opacity { background-color: rgba(255, 255, 255, 0.85); }
.bg-black-opacity { background-color: rgba(0, 0, 0, 0.85); }
.bg-black-opacity-light { background-color: rgba(0, 0, 0, 0.5); }
.bg-deep-pink-opacity {background-color: rgba(255, 33, 79, 0.85);}
.bg-charcoal-gray{background-color: #0e0f10;}

/* padding top */
.padding-5px-top {padding-top: 5px;}
.padding-10px-top {padding-top: 10px;}
.padding-15px-top {padding-top: 15px;}
.padding-20px-top {padding-top: 20px;}
.padding-50px-top {padding-top: 50px;}
.padding-75px-top {padding-top: 75px;}
.padding-100px-top {padding-top: 100px;}

/* Padding bottom */
.padding-5px-bottom {padding-bottom:5px;}
.padding-10px-bottom {padding-bottom:10px;}
.padding-15px-bottom {padding-bottom:15px;}
.padding-20px-bottom {padding-bottom:20px;}
.padding-25px-bottom {padding-bottom:25px;}
.padding-30px-bottom {padding-bottom:30px;}
.padding-35px-bottom {padding-bottom:35px;}
.padding-40px-bottom {padding-bottom:40px;}
.padding-45px-bottom {padding-bottom:45px;}
.padding-50px-bottom {padding-bottom:50px;}
.padding-55px-bottom {padding-bottom:55px;}
.padding-60px-bottom {padding-bottom:60px;}
.padding-65px-bottom {padding-bottom:65px;}
.padding-70px-bottom {padding-bottom:70px;}
.padding-75px-bottom {padding-bottom:75px;}
.padding-80px-bottom {padding-bottom:80px;}
.padding-85px-bottom {padding-bottom:85px;}
.padding-90px-bottom {padding-bottom:90px;}
.padding-95px-bottom {padding-bottom:95px;}
.padding-100px-bottom {padding-bottom:100px;}

/* Padding right */
.padding-5px-right {padding-right:5px;}
.padding-10px-right {padding-right:10px;}
.padding-15px-right {padding-right:15px;}
.padding-20px-right {padding-right:20px;}
.padding-25px-right {padding-right:25px;}
.padding-30px-right {padding-right:30px;}
.padding-35px-right {padding-right:35px;}
.padding-40px-right {padding-right:40px;}
.padding-45px-right {padding-right:45px;}
.padding-50px-right {padding-right:50px;}
.padding-55px-right {padding-right:55px;}
.padding-60px-right {padding-right:60px;}
.padding-65px-right {padding-right:65px;}
.padding-70px-right {padding-right:70px;}
.padding-75px-right {padding-right:75px;}
.padding-80px-right {padding-right:80px;}
.padding-85px-right {padding-right:85px;}
.padding-90px-right {padding-right:90px;}
.padding-95px-right {padding-right:95px;}
.padding-100px-right {padding-right:100px;}

/* Padding left */
.padding-5px-left {padding-left:5px;}
.padding-10px-left {padding-left:10px;}
.padding-15px-left {padding-left:15px;}
.padding-20px-left {padding-left:20px;}
.padding-25px-left {padding-left:25px;}
.padding-30px-left {padding-left:30px;}
.padding-35px-left {padding-left:35px;}
.padding-40px-left {padding-left:40px;}
.padding-45px-left {padding-left:45px;}
.padding-50px-left {padding-left:50px;}
.padding-55px-left {padding-left:55px;}
.padding-60px-left {padding-left:60px;}
.padding-65px-left {padding-left:65px;}
.padding-70px-left {padding-left:70px;}
.padding-75px-left {padding-left:75px;}
.padding-80px-left {padding-left:80px;}
.padding-85px-left {padding-left:85px;}
.padding-90px-left {padding-left:90px;}
.padding-95px-left {padding-left:95px;}
.padding-100px-left {padding-left:100px;}

/* Padding all sides */
.padding-5px-all {padding:5px;}
.padding-10px-all {padding:10px;}
.padding-15px-all {padding:15px;}
.padding-20px-all {padding:20px;}
.padding-25px-all {padding:25px;}
.padding-50px-all {padding:50px;}
.padding-75px-all {padding:75px;}
.padding-100px-all {padding:100px;}

/* Padding top and bottom */
.padding-5px-tb {padding-top:5px; padding-bottom:5px;}
.padding-10px-tb {padding-top:10px; padding-bottom:10px;}
.padding-15px-tb {padding-top:15px; padding-bottom:15px;}
.padding-20px-tb {padding-top:20px; padding-bottom:20px;}
.padding-25px-tb {padding-top:25px; padding-bottom:25px;}
.padding-50px-tb {padding-top:50px; padding-bottom:50px;}
.padding-75px-tb {padding-top:75px; padding-bottom:75px;}
.padding-100px-tb {padding-top:100px; padding-bottom:100px;}

/* Padding left and right */
.padding-5px-lr {padding-left:5px; padding-right:5px;}
.padding-10px-lr {padding-left:10px; padding-right:10px;}
.padding-15px-lr {padding-left:15px; padding-right:15px;}
.padding-20px-lr {padding-left:20px; padding-right:20px;}
.padding-25px-lr {padding-left:25px; padding-right:25px;}
.padding-50px-lr {padding-left:50px; padding-right:50px;}
.padding-75px-lr {padding-left:75px; padding-right:75px;}
.padding-100px-lr {padding-left:100px; padding-right:100px;}

/* Margin top and bottom */
.margin-5px-all {margin:5px}
.margin-10px-all {margin:10px}
.margin-15px-all {margin:15px}
.margin-20px-all {margin:20px}
.margin-25px-all {margin:25px}
.margin-50px-all {margin:50px}
.margin-75px-all {margin:75px}
.margin-100px-all {margin:100px}

.no-margin {margin:0 !important}
.no-margin-lr {margin-left: 0 !important; margin-right: 0 !important}
.no-margin-tb {margin-top: 0 !important; margin-bottom: 0 !important}
.no-margin-top {margin-top:0 !important}
.no-margin-bottom {margin-bottom:0 !important}
.no-margin-left {margin-left:0 !important}
.no-margin-right {margin-right:0 !important}
.margin-lr-auto {margin-left:auto !important; margin-right:auto !important}
.margin-auto {margin: 0 auto !important;}

/* Margin top */
.margin-5px-top {margin-top:5px}
.margin-10px-top {margin-top:10px}
.margin-15px-top {margin-top:15px}
.margin-20px-top {margin-top:20px}
.margin-25px-top {margin-top:25px}
.margin-50px-top {margin-top:50px}
.margin-75px-top {margin-top:75px}
.margin-100px-top {margin-top:100px}

/* Margin bottom */
.margin-5px-bottom {margin-bottom:5px}
.margin-10px-bottom {margin-bottom:10px}
.margin-15px-bottom {margin-bottom:15px}
.margin-20px-bottom {margin-bottom:20px}
.margin-25px-bottom {margin-bottom:25px}
.margin-50px-bottom {margin-bottom:50px}
.margin-75px-bottom {margin-bottom:75px}
.margin-100px-bottom {margin-bottom:100px}

/* Margin right */
.margin-5px-right {margin-right:5px}
.margin-10px-right {margin-right:10px}
.margin-15px-right {margin-right:15px}
.margin-20px-right {margin-right:20px}
.margin-25px-right {margin-right:25px}
.margin-50px-right {margin-right:50px}
.margin-75px-right {margin-right:75px}
.margin-100px-right {margin-right:100px}

/* Margin left */
.margin-5px-left {margin-left:5px}
.margin-10px-left {margin-left:10px}
.margin-15px-left {margin-left:15px}
.margin-20px-left {margin-left:20px}
.margin-25px-left {margin-left:25px}
.margin-50px-left {margin-left:50px}
.margin-75px-left {margin-left:75px}
.margin-100px-left {margin-left:100px}

/* Margin left and right */
.margin-5px-lr {margin-left:5px; margin-right:5px;}
.margin-10px-lr {margin-left:10px; margin-right:10px;}
.margin-15px-lr {margin-left:15px; margin-right:15px;}
.margin-20px-lr {margin-left:20px; margin-right:20px;}
.margin-25px-lr {margin-left:25px; margin-right:25px;}
.margin-50px-lr {margin-left:50px; margin-right:50px;}
.margin-75px-lr {margin-left:75px; margin-right:75px;}
.margin-100px-lr {margin-left:100px; margin-right:100px;}

/* Margin top and bottom */
.margin-5px-tb {margin-top:5px; margin-bottom:5px;}
.margin-10px-tb {margin-top:10px; margin-bottom:10px;}
.margin-15px-tb {margin-top:15px; margin-bottom:15px;}
.margin-20px-tb {margin-top:20px; margin-bottom:20px;}
.margin-25px-tb {margin-top:25px; margin-bottom:25px;}
.margin-50px-tb {margin-top:50px; margin-bottom:50px;}
.margin-75px-tb {margin-top:75px; margin-bottom:75px;}
.margin-100px-tb {margin-top:100px; margin-bottom:100px;}

/* Opacity */
.opacity1 {opacity:.1}
.opacity2 {opacity:.2}
.opacity3 {opacity:.3}
.opacity4 {opacity:.4}
.opacity5 {opacity:.5}
.opacity6 {opacity:.6}
.opacity7 {opacity:.7}
.opacity8 {opacity:.8}
.opacity9 {opacity:.9}

#unsplash-bg {
    width: 100%;
    height: 100%;
}

/*===================================
Down section
====================================*/
.down-section {position: absolute; width: 100%; bottom:50px; left: 0; right: 0}

header nav .nav-header-container {display: table-cell; vertical-align: middle; position: relative;}

#playBtnAnimate {
    padding-top: 30px;
}

/* Card body */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.5)!important; 
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: #fff;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-bottom: 4rem;
  background-color: transparent !important;
}

/* Button colors */
.btn.btn-deep-pink {background: #ff214f; border-color: #ff214f; color: #ffffff}

.btn {display:inline-block; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform: uppercase; width: auto; font-family: 'Montserrat', sans-serif; font-weight: 500; transition-duration: 0.3s; transition-timing-function: ease-in-out}

/* button size */
.btn.btn-very-small {font-size:9px; padding: 1px 17px; line-height: 22px;}
.btn.btn-small {font-size:11px; padding: 4px 24px;}
.btn.btn-medium {font-size:12px; padding: 6px 25px 5px;}
.btn.btn-large {font-size:13px; padding: 9px 34px; line-height: 25px}
.btn.btn-extra-large {font-size:15px; padding: 12px 40px 13px;  line-height: 25px}
.btn-dual .btn {margin: 0 10px; }
.btn i {margin-left: 6px; vertical-align: middle; position: relative; top:-1px}

/* Camera Settings */
#camera-box {
  padding: 0px;
  width: 400px;
  height: 300px;
}

/* Container */
.container-lr {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}
/* Fullscreen video and image background */
.fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

/* #navbarFixed {
    z-index: 1;
} */

/* modal */
/* #myModal {
    z-index: 2;
} */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.733); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.726); /* Black w/ opacity */
    outline:none;
  }
  
#giphyImage {
    position: relative;
    bottom: 500px;
    left: 685px;
    
}
 /* Win Giphy */
  #img01 {
    position: center;
    repeat: no-repeat;
    size: cover;
    outline:none;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
   
  }
  
  #img02 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-left: 900px;
    outline:none;
   
  }
  
  #img03 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    outline:none;
  }

  #img04 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-left: 400px;
    outline:none;
  }

  /* /Time Out Giphy Images */

  /* Lose Giphy */
  #img05 {
    position: center;
    repeat: no-repeat;
    size: cover;
    outline:none;
   
  }
  
  #img06 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-left: 900px;
    outline:none;
   
  }
  
  #img07 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    outline:none;
  }
  #img08 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-left: 400px;
    outline:none;
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-width:50px;  
    border-style: none;
    outline:none;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    outline:none;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  /* .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  } */
  
  /* .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  } */
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
  }

  /* Instructions slide out panel */
  .slide-out-div {
    padding: 20px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5)!important; 
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    z-index: 10;
}

/* Play button */

.play-btn {
  background-image: url("../images/play-btn.png");
  background-repeat: no-repeat;
  height: 99px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Giphys  */
img {
  height: 45%;
  width: 45%;
  /* border-style: solid; */
  /* border-width: 2px; */
  border-radius: 100%;
  /* border-color:rgb(211, 211, 211); */
  /* line-height: 1cm; */
}
#timer {
  position: absolute;
  top: auto;
  left: 30%;
}

.pause-btn {
  background-image: url("../images/pause_button.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 31px;
  display: block;
}

.play {
  background-image: url("../images/play-button.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 31px;
  display: block;
}

.reset-btn {
  background-image: url("../images/reset_button.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 31px;
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#enable-camera {
  display: none;
}

#pause-game {
  display: none;
}
#reset-game {
  display: none;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
